-var title = "Error Page";
-var message = msg;
doctype html
html
  include head.jade
  body
    include header.jade
    .main-panel.container-fluid
        div
            h3 Error 500 - Internal Server Error:
            p #{message}
    include footer.jade