head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', type='text/css', href='./css/main.css')
    link(rel='stylesheet prefetch', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='./js/main.js')